.App {
  text-align: center;
}



.head {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  margin-top: 10px;
}
.sheet {
  background-color: rgb(252, 251, 247);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #000000;
}
.col{
  margin-bottom: 3px;
}